/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
   box-sizing: border-box;
}
img {
   width: 100%;
}
body {
   background-color: #223843;
}

 .logoFont {
    color: white;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-left: 10px;
    display: inline-block;
}
.inlineHeader {
   display: inline-block;
}
.landingBtn {
   background-color: white;
   border-radius: 30px;
   width: 250px;
   height: 33px;
   text-transform: uppercase;
   color: #223843;
   letter-spacing: 2px;
   margin: 10px;
   margin-top: 40vh;
}
.mobLandingBtnUpRight {
   text-align: right;
}

.fieldForm {
   background: transparent;
   border: none;
   border-bottom: 1px solid white;
   display: block;
   width: 100%;
   color: white;
   font-size: 30px;
   font-weight: lighter;
   letter-spacing: 3px;
}
.hideFileButton {
   width: 0.1px;
   height: 0.1px;
   opacity: 0;
   overflow: hidden;
   position: absolute;
   z-index: -1;
}
.avatarText {
   color: white;
   font-size: 2vw;
   text-transform: uppercase;
   letter-spacing: 3px;
   background: transparent;
   border: 1px solid white;
   border-radius: 0;
   font-weight: lighter;
   margin-top: 10px;
   width: 100%;
}
.avatarText:hover {
   cursor: pointer;
   background-color: white;
   color: #223843;
}
.signupBtn {
   margin-top: 20px;
}

.navItems {
   color: white;
   font-weight: bold;
   font-size: 15px;
   text-transform: uppercase;
   letter-spacing: 2px;
   margin-right: 15px;
   line-height: 20px;
   margin-bottom: 15px;
   margin-top: 8px;
}

.profileImg {
   /*width: 200px;
   height: 200px;*/
   margin-top: 50px;
}

.profileText {
   color: white;
   text-transform: uppercase;
   letter-spacing: 2px;
}
.profileTextTwo {
   color: white;
   text-transform: uppercase;
   letter-spacing: 2px;
}

.linkStyle {
   display: inline-block;
   line-height: 50px;
   vertical-align: middle;
   padding-top: 20px;
}
.linkStyleImg {
   display: inline-block;
   line-height: 50px;
   vertical-align: middle;
}

.linkStyle:hover {
   text-decoration: none;
}

.titleFont {
   background-color: #223843 ;
   color: white;
   font-size: 2vw;
   letter-spacing: 3px;
   text-align: center;
   /*border-right: 1px solid white;*/
   text-transform: uppercase;
}

.legislatorInfo {
   background-color: white;
   padding: 0px;
   border-right: 3px solid #223843;
}
.newsInfo {
   background-color: white;
   padding: 0px;
   border-right: 3px solid #223843;
   border-bottom: 1px solid grey;
}

.legislatorImg {
   height: 80px;
   width: 80px;
   margin: 3px;
   display: inline-block;
   padding-top: 15px;
}
.legText {
   color: #223843;
   text-transform: uppercase;
   letter-spacing: 2px;
   font-size: 15px;
   padding-top: 25px;
}
.followBtn {
   margin-top: 25px;
}

.headlineText {
   color: #223843;
   font-size: 20px;
   letter-spacing: 2px;
}

.dateAndSourceText {
   color: #8B2635;
   font-size: 14px;
   text-transform: uppercase;
   letter-spacing: 1.5px;
}
.legislationBtn {
   width: 100%;
   height: 115px;
   background-color: #D8D8D8;
   margin: 5px;
}
.billDesc {
   overflow: hidden;
   text-overflow: ellipsis;
}
.legislationInfo {
   background-color: white;
}
/*.profileBox{
   height: 500px;
   overflow-y: hidden;
   overflow-x: scroll;
   background-color: white;
}*/
/*.columnContainer {
   padding: 0px;
   padding-left: -15px;
}*/
.billBtn {
   width: 100%;
   height: 45px;
   background-color: #223843;
   margin: 5px;
   border: 0;
   border-radius: 0;
   margin: 0;
   color: white;
}
.billBtn:hover{
   border:1px solid rgb(223, 223, 223);
   background-color: #223843;
}
.billBtn:active{
   color: #223843;
}
.whiteBackground {
   background-color: white;
   /*height: 70vh;*/
   align-content: center;
}

.smlProfileImg {
   width: 70px;
   height: 70px;
   margin-top: 20px;
   vertical-align: middle;
}
.yearsNav {
   color: #223843;
   width: 100%;
}

.borderBills {
   border: 1px solid rgb(223, 223, 223);
   padding: 10px;
   border-radius: 4px;
   /*height: 500px;*/
}

.accordionHeaderText {
   background: transparent;
   border: none;
   border-bottom: 1px solid #223843;
   display: block;
   color: #223843;
   font-size: 20px;
   text-transform: uppercase;
   font-weight: lighter;
   letter-spacing: 3px;
   padding: 0;
}
.authorText {
   color: #223843;
   font-size: 12px;
   letter-spacing: 3px;
}
.coAuthorText {
   color:#223843;
   font-size: 12px;
   letter-spacing: 3px;
   font-weight: bold;
   text-transform: uppercase;
   margin-top: 10px;
}
.legislatorBackground{
   background-color: white;
}
.yearText {
   border: 1px solid lightgrey;
   width: 100%;
   border-radius: 0;
   color: #223843;
   height: 35px;
   padding-top: 5px;
   border-radius: 4px;
}

.yearText:hover {
   background-color: #e6e6e6;
}

/*.fixedGroup {
   position: fixed;
}*/

#page-wrap {
   height: 500px;
}
.dropdown-menu {
   left: -100px;
}
.dropdown-menu>li>a {
   padding-left: 5px;
   color: #223843;
   text-decoration: none;

}
.dropdown-menu>a:hover {
   text-decoration: none;
}
.dropdownText{
   color: #223843;
   font-weight: bold;
   font-size: 15px;
   text-transform: uppercase;
   letter-spacing: 2px;
   /*margin-right: 15px;*/
}
.dropdownBtn {
   background-color: #223843;
   color: white;
   margin-top: 13px;
}

.mobileNavbar {
   color: white;
   font-size: 2vw;
   text-transform: uppercase;
   letter-spacing: 3px;
   background: transparent;
   border-radius: 0;
   font-weight: bold;
   margin-top: 10px;
   width: 100%;
   margin: 0;
}
.mobileNavbar:hover {
   border-bottom: 3px solid white;
}
.mobileNavbar:target {
   border-bottom: 3px solid white;
}


.noPadding {
   padding: 0;
}

/*mobile classes*/
@media all and (max-width: 767px) {
   .profileImg {
      width: 200px;
      height: 200px;
      margin-top: 50px;
   }
   .mobLandingBtnIn {
     margin-top: 0px;
   }
   .mobLandingBtnUp {
      text-align: center;
   }
   .mobLandingBtnRow {
      text-align: center;
   }
   .mobLandingBtnUpRight {
      text-align: center;
   }
   .avatarText {
      font-size: 30px;
   }
   .followBtn {
     width: 100%
   }
   .hiddenSection{
      display: none;
   }
}

@media all and (max-width: 1017px) {
   .profileNav {
      display: inline;
   }
}

@media all and (min-width: 767px) and (max-width: 1500px) {
   .mobileReveal {
      display: none;
   }
}

@media all and (min-width: 1017px) and (max-width:1500px) {
   .mobileReveal {
      display: none;
   }
}
